@font-face {
    font-family: "splat1reg";
    src: url("../InkblotBuilds/fonts/Splatoon1.ttf") format("truetype");
    src: url("../InkblotBuilds/fonts/splatoon1-webfont.woff") format("woff");
    src: url("../InkblotBuilds/fonts/splatoon1-webfont.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "splat2reg";
    src: url("../InkblotBuilds/fonts/Splatoon2.ttf") format("truetype");
    src: url("../InkblotBuilds/fonts/splatoon2-webfont.woff") format("woff");
    src: url("../InkblotBuilds/fonts/splatoon2-webfont.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
}

h1 {
    font-family: "splat1reg";
    font-size: 35px;
    color: white;
    float: left;
}

p {
    font-family: "splat2reg";
    font-size: 25px;
    color: white;
}

body {
    background-color: #2A2E34;
    margin: 0;
    padding: 0%;
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    background: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
}